.copy-area-container {
    border: 1px solid black;
    width: 50%;
}

.copy-area-container textarea {
    height: 50vh;
    width: 99%;
}

.copy-area-container textarea, .copy-area-container button {
    display: block;
}

.copy-area-container button {
    width: 100%;
    height: 3rem;
    font-size: 1.2rem;
}
